# Database Secretes

DB_HOST=mariadb
DB_NAME=wordpress_db
DB_USER=kael-ala
DB_PASSWORD=123456789

# Wordpress Secretes

WP_HOST=kael-ala.42.fr
WP_TITLE="Inception 1337"
WP_USER=kael-ala
WP_PASS=123456789
WP_EMAIL=kael-ala@example.com
WP_USER2=kamal
WP_EMAIL2=kamal@example.com
WP_PASS2=123456789

#Redis Password

REDIS_PASSWORD=123456789

#FTP 
FTP_USER=kiko
FTP_PASSWORD=123456789